@import 'tailwindcss';
@import 'tw-animate-css';
@import 'swiper/css';

@custom-variant dark (&:not(*)); /* Not to support dark appearance */

@theme inline {
    --color-background: oklch(1 0 0);
    --color-foreground: oklch(0.145 0 0);

    /* Fonts */
    --font-sans: var(--font-latin-sans), var(--font-cjk-sans);
    --font-mono: var(--font-latin-mono), var(--font-cjk-sans);

    /* Chart colors */
    --color-chart-1: oklch(0.646 0.222 41.116);
    --color-chart-2: oklch(0.6 0.118 184.704);
    --color-chart-3: oklch(0.398 0.07 227.392);
    --color-chart-4: oklch(0.828 0.189 84.429);
    --color-chart-5: oklch(0.769 0.188 70.08);

    /* Theme colors */
    --color-theme: #006ac6;

    /* Outline colors */
    --color-ring: oklch(0.708 0 0);
    --color-input: oklch(0.922 0 0);
    --color-border: oklch(0.922 0 0);
    --color-destructive: oklch(0.577 0.245 27.325);

    /* Foreground color */
    --color-subtitle: oklch(0.556 0 0);
    --color-accent-foreground: oklch(0.205 0 0);
    --color-muted-foreground: oklch(0.556 0 0);
    --color-secondary-foreground: oklch(0.205 0 0);
    --color-primary-foreground: oklch(0.985 0 0);
    --color-popover-foreground: oklch(0.145 0 0);
    --color-card-foreground: oklch(0.145 0 0);

    /* Background color */
    --color-accent: oklch(0.97 0 0);
    --color-muted: oklch(0.97 0 0);
    --color-secondary: oklch(0.97 0 0);
    --color-primary: oklch(0.205 0 0);
    --color-popover: oklch(1 0 0);
    --color-card: oklch(1 0 0);
    --color-inactive: color-mix(in oklab, oklch(92.2% 0 0) 75%, transparent);
}

@layer base {
    .leaflet-container {
        @apply bg-card! font-[inherit]!;
        @apply bg-card! font-[inherit]!;
    }
    .leaflet-container a {
        @apply text-inherit!;
        @apply text-inherit!;
    }
    .leaflet-div-icon {
        @apply border-none! bg-transparent!;
        @apply border-none! bg-transparent!;
    }
    .leaflet-popup-content-wrapper,
    .leaflet-popup-content,
    .leaflet-popup-content p {
        @apply [all:unset]!;
        @apply [all:unset]!;
    }
    .leaflet-popup {
        @apply animate-none!;
        @apply animate-none!;
    }
    .leaflet-popup-close-button {
        @apply ring-offset-background focus:ring-ring bg-secondary rounded-xs opacity-70 transition-opacity hover:opacity-100 focus:ring-2 focus:outline-hidden;
        @apply ring-offset-background focus:ring-ring bg-secondary rounded-xs opacity-70 transition-opacity hover:opacity-100 focus:ring-2 focus:outline-hidden;
    }
    .leaflet-tooltip,
    .leaflet-draw-tooltip {
        @apply bg-foreground! text-background! animate-none! rounded-md! border-none! p-0! px-3! py-1.5! shadow-none!;
        @apply bg-foreground! text-background! animate-none! rounded-md! border-none! p-0! px-3! py-1.5! shadow-none!;
    }
    .leaflet-draw-tooltip:before {
        @apply bg-foreground top-1/2! right-0.5! size-2.5 translate-x-1/2 -translate-y-1/2 rotate-45 rounded-xs border-none!;
        @apply bg-foreground top-1/2! right-0.5! size-2.5 translate-x-1/2 -translate-y-1/2 rotate-45 rounded-xs border-none!;
    }
    .leaflet-error-draw-tooltip {
        @apply bg-destructive! text-white!;
        @apply bg-destructive! text-white!;
    }
    .leaflet-error-draw-tooltip:before {
        @apply bg-destructive;
        @apply bg-destructive;
    }
    .leaflet-draw-tooltip-subtext {
        @apply text-background!;
        @apply text-background!;
    }
    .leaflet-popup-tip-container,
    .leaflet-tooltip-top:before,
    .leaflet-tooltip-bottom:before,
    .leaflet-tooltip-left:before,
    .leaflet-tooltip-right:before {
        @apply hidden;
        @apply hidden;
    }
    .leaflet-control-attribution {
        @apply bg-muted! rounded-md px-1! py-0.5! text-[10px] leading-none! text-inherit!;
        @apply bg-muted! rounded-md px-1! py-0.5! text-[10px] leading-none! text-inherit!;
    }
    .leaflet-draw-guide-dash {
        @apply rounded-full;
        @apply rounded-full;
    }
    .leaflet-edit-marker-selected {
        @apply border-transparent! bg-transparent!;
        @apply border-transparent! bg-transparent!;
    }
}
