CORS_ORIGINS="http://localhost:3000,http://localhost:8000"
MONGO_CONNECTION_STRING="mongodb+srv://user:pass@localhost:27017"
MONGO_DATABASE="explore"
GOOGLE_MAPS_API_KEY="YOUR_ACTUAL_GOOGLE_MAPS_API_KEY_HERE"
